/* For Drop Down  configuration on first page- do not mix with other css*/
@media (min-width:768px){
#ex1_dropdown {
    top: 110px;
    width:341px;
}
}
@media (max-width:767px){
#ex1_dropdown {
    bottom: 0px;
    width:388px;
}
}
/* .dropdown-toggle {
    border: solid;
    border-color: #DBDDDF;
    border-width: thin;
    margin-top: 0px;
} */