/* For Drop Down for listing page - do not mix with other css*/
#ex1_dropdown {
	top: 103px;
	width: 341px;
}

#ex1_value {
	width: 100%;
	box-shadow: none;
	border-color: #ECEFF1;
	height: 42px;
	margin-top: -12px;
	font-size: initial;
	border-radius: 0px;
}
/* To format classes drop down */
.nya-bs-select.btn-group.dropdown-toggle {
	
}

.nya-bs-select>.btn {
	border: solid;
	border-color: #DBDDDF;
	border-width: thin;
	margin-top: 0px;
}
/* This is to format the listing page on mobile devices */
@media ( max-width : 767px) {
.paragraph,.reviews {
		display: none;
	}
#gym-pass-information { /* //add this id to row  */
display:none;
		
	}
.products-list li .listUp {
		border-bottom: 0;
	}
.gymname {
    font-size: 70%;
}
.full-wrap {
    height: 130px;
}
}
