/* For user portal */
#buy-again{
	float: right;	
}

#user-passinfo-outerbox{
	padding: 0px;
	padding-left: 20px;
	padding-right: 20px;
	
}
#user-passinfo{
	border-bottom: 0px solid #dbdddf;
    padding-bottom: 0px;
    margin-bottom: 5px;
}
.gymName {
	font-size: 1.8em;
	font-weight: 500;
}

.height20 {
	height: 20px;
}
.navigator{
	padding-top: 20px;
}
#panel-heading {
    background-color: white;
    border-radius: 0px;
    color: #666666;
    font-size: 15px;
}
.gymImage{
	width: 150px;
    height: 150px;
}

/* For Gym Portal */
#pass-not-Valid {
    border: solid #D9534F thin;
    color: white;
    background: #D9534F;
        border-radius: 2px;
}
#pass-Valid {
    border: solid #449d44 thin;
    color: white;
    background: #449D44;
    border-radius: 2px;
}
.filter-button {
    margin-top: 19px;
}
.gymAccUpdatebtn {
    margin-top: 10px;
}	
#loginGymonboard{
	border: solid;
    border-color: #B60C29;
}
.gym_owner_login {
	background: #fff;
	padding: 30px 30px 15px 30px;
	/*border-bottom: #eeeeee 1px solid;*/
}
 
#inputPassword1,#inputPassword2,#inputPassword3,#person-name,#person-number,#gymEmail,#gympassword{
	box-shadow:none;
}
.panel-default > .panel-heading {
    color: #333;
    background-color: #FFFFFF;
    border-color: #ECEFF1;
}
.gym-owner-pass-search {
    margin-left: 20px;
    margin-right: 20px;
}
.gym-header-info{
	font-size: 19px;
	font-family: inherit;
}
.person-name{
	font-size: 16px;
	font-family: inherit;
}
.gym-owner-pannel>.panel-group {
    margin-bottom: 0px;
}
.workoutDetail {
	background-color: white;
	padding: 16px;
	/* padding-bottom: 0px; */
	height: 122px;
	width: 755px;
}
.accountDetail input{
	
    box-shadow: none;
    border-bottom: #e5e5e5 1px solid;
}
#user-account-info-submit{
    padding: 8px 20px;
    font-size: 18px;
    color: #fff;
    background: #b60c29;
    border: #b60c29 1px solid;
    border-radius: 0px;
    transition: all ease-in .3s;
    -moz-transition: all ease-in .3s;
    -ms-transition: all ease-in .3s;
    -o-transition: all ease-in .3s;
    -webkit-transition: all ease-in .3s;
}
.accountDetail {
	background-color: white;
	padding: 16px;
	width: 755px;
}
.inner{
	padding: 10px 20px 20px;
}

.imageHolder {
	width: 120px;
	height: 120px;
}

