<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<title>FitnessKey</title>
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<link href="../css/layout.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/html5.js"></script>
<link href="../css/style.css" rel="stylesheet">
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body class="listing-bg">
<ul class="mobile-navigation clearfix">
  <div class="vcenter-table">
    <div class="vcenter-table-cell">
      <li><a href="home.html" class="branding menu-brand"><img src="../images/logo.png" /></a></li>
      <li><a href="home.html">Home</a></li>
      <!-- <li><a href="#">Fitness Club</a></li>
      <li><a href="#">Classes</a></li> -->
    </div>
  </div>
</ul>
<div class="wrapper clearfix"> 
  <!-- Header -->
  <header class="normal-header clearfix">
    <div class="container clearfix">
      <div class="toggle-nav"> <span class="fline"></span> <span class="lline"> </span> <span  class="act"></span> </div>
      <!-- Branding --> 
      <a href="home.html" class="branding"><img src="../images/logo.png" /></a> 
      <!-- Branding End --> 
      <!-- Up navigation -->
      <ul class="upnavigation clearfix">
        <!-- <li class="account" data-ng-show='userLogin'><a href="#">My Account</a></li>
        <li class="account" data-ng-show='userLogin'><a href="#">Logout</a></li>
        <li class="login" data-ng-hide='userLogin'><a href="#" class="login-bgt">Log In</a></li>
        <li class="signup" data-ng-hide='userLogin'><a href="#" class="signup-bgt">Sign Up</a></li> -->
      </ul>
      <!-- Up navigation End  --> 
      <!-- Toggle --> 
      
    </div>
  </header>
  <!-- Header End  -->   
  <!-- Content -->
  <section class="clearfix">
    <div class="container clearfix">
      <div class="common-paddling3">
        <div class="gym_owner_login">
        <div class="row">
        <div id="loginGymonboard"class="popup-content-wrapper col-md-4 col-md-offset-4"> <a href="#" class="login-with-social"><img src="../images/facebook-login.png" /></a> <a href="#" class="login-with-social"><img src="../images/gplus_btn.png" /></a>
      <div class="popup-or">or</div>
      <div class="inp-box">
        <input type="text" name="" value="" placeholder="Email" />
      </div>
      <div class="inp-box">
        <input type="password" name="" value="" placeholder="Password" />
      </div>
      <button type="submit" class="popup-login-btn">Log In</button>
      <div class="poppup-center-text"><a href="#">Forgot my password?</a></div>
    </div>
        </div>
		</div>
      </div>
    </div>
  </section>
  
  <footer class="clearfix">
    <div class="container clearfix">
      <div class="social-navigation"><a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> </div>
      <div class="copyright">Copyright &copy; 2015 FitnessKey </div>
      <div class="full-wrap">
          <ul class="footer-nav">
          <!-- <li><a href="#">About</a></li> -->
          <li><a href="onboarding.html">For Partners</a></li>
          <li><a href="FAQ.html">FAQ</a></li>
          <!-- <li><a href="#">Contact</a></li> -->
          <!-- <li><a href="#">Blog</a></li> -->
          <li><a href="terms-of-use.html">Terms of Use</a></li>
          <li><a href="privacy-policy.html">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>
</div>
<!-- JS --> 
<script src="../js/jquery.min.js"></script> 
<script src="../js/bootstrap.min.js"></script> 
<script src="../js/custom.js"></script> 
<script src="../js/owl.carousel.min.js"></script> 
<script src="../js/bootstrap-hover-dropdown.min.js"></script>  
<script>
$(document).ready(function() {
  $('.js-activated').dropdownHover().dropdown();    
});
</script> 
<!-- JS ends -->
</body>
</html>
