<!doctype html>
<html>

<head>
	<meta charset="utf-8">
	<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
	<title>FitnessKey</title>
	<link rel="shortcut icon" href="images/favicon.ico" type="image/x-icon">
	<link href="css/layout.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap.css" rel="stylesheet" type="text/css">
	<link href="css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
	<script type="text/javascript" src="js/html5.js"></script>
	<script src="js/jquery.min.js"></script>

	<!-- Angular Resource -->
	<script src="js/shared/angular.min.js"></script>
	<script src="https://code.angularjs.org/1.4.3/angular-resource.js"></script>

	<!-- For loading Bar -->
	<script src="http://ajax.googleapis.com/ajax/libs/angularjs/1.2.0/angular-animate.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.11.3/jquery.min.js"></script>
	<script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.5/js/bootstrap.min.js"></script>
</head>

<body class="listing-bg" data-ng-app="fitness" data-ng-controller="gymonboardCtrl">
	<ul class="mobile-navigation clearfix">
		<div class="vcenter-table">
			<div class="vcenter-table-cell">
				<li>
					<a href="home.html" class="branding menu-brand"><img src="images/logo.png" /></a>
				</li>
				<li><a href="home.html">Home</a></li>
				<li class="twoNav" data-ng-hide='userLogin'><a href="#" class="login-bgt">Login</a>/<a href="#" class="signup-bgt">Sign Up</a></li>
				<li><a href="#" data-ng-show='userLogin'>Workout History</a></li>
				<li><a href="#" data-ng-show='userLogin'>Change Password</a></li>
				<li><a href="#" data-ng-show='userLogin'>Logout</a></li>
				<!-- <li><a href="#">Fitness Club</a></li>
      <li><a href="#">Classes</a></li> -->
			</div>
		</div>
	</ul>
	<div class="wrapper clearfix">
		<!-- Header -->
		<header class="normal-header clearfix">
			<div class="container clearfix">
				<div class="toggle-nav">
					<span class="fline"></span> <span class="lline"> </span> <span class="act"></span>
				</div>
				<!-- Branding -->
				<a href="home.html" class="branding"><img src="images/logo.png" /></a>
				<!-- Branding End -->
				<!-- Up navigation -->
				<ul class="upnavigation clearfix">
					<li class="account" data-ng-show='userLogin'><a href="#">My Account</a></li>
					<li class="account" data-ng-show='userLogin'><a href="#">Logout</a></li>
					<li class="login" data-ng-hide='userLogin'><a href="#" class="login-bgt">Log In</a></li>
					<li class="signup" data-ng-hide='userLogin'><a href="#" class="signup-bgt">Sign Up</a></li>
				</ul>
				<!-- Up navigation End  -->
				<!-- Toggle -->

			</div>
		</header>
		<!-- Header End  -->

		<!-- Banner -->
		<div class="banner clearfix">
			<figure><img src="images/banner_img2.jpg" /></figure>
			<div class="contact-banner-caption">
				<div class="container">
					<div class="contact-ins-caption">
						<h3>Grow your business
            with FitnessKey</h3>
					</div>
				</div>
			</div>
		</div>
		<!-- Banner End -->

		<!-- Content -->
		<section class="clearfix">
			<div class="container clearfix">
				<div class="common-paddling3">
					<div class="for-partners">
						<form id="profileForm" class="form-horizontal" autocomplete="off" name="gymForm" data-ng-submit="gymdataSend()" novalidate>
							<h2>Contact Information</h2>
							<!-- NAME -->
							<div class="form-group" data-ng-class="{ 'has-error' : gymForm.name.$invalid && !gymForm.name.$pristine }">
								<label class="col-lg-2 col-sm-3 control-label">Name<sup>*</sup></label>
								<div class="col-lg-10 col-sm-9">
									<input type="text" name="name" class="form-control" data-ng-model="gym.continfo.pername" id="inputName" data-ng-maxlength="60" data-ng-minlength="2" placeholder="Name" required>
									<p data-ng-show="gymForm.name.$touched && gymForm.name.$invalid && !gymForm.name.$pristine" class="help-block">Your name is required.</p>
									<!--   herer{{gym.continfo.pername==null}} -->
								</div>
							</div>
							<!-- PHONE NUMBER -->
							<div class="form-group" data-ng-class="{ 'has-error' :gymForm.number.$touched && gymForm.number.$invalid && !gymForm.number.$pristine }">
								<label class="col-lg-2 col-sm-3 control-label">Contact Number<sup>*</sup></label>
								<div class="col-lg-10 col-sm-9">
									<div class="input-group">
										<span class="input-group-addon">+91</span>
										<input type="number" name="number" class="form-control" data-ng-pattern="/^[7-9][0-9]{9}$/" data-ng-model="gym.continfo.number" data-ng-minlength="10" data-ng-maxlength="10" id="inputNumber" placeholder="Mobile\Landline Number" required>
									</div>
									<p data-ng-show="gymForm.number.$touched && gymForm.number.$invalid && !gymForm.number.$pristine" class="help-block">Please enter a Valid number.</p>
									<p data-ng-show="gymForm.number.$error.maxlength" class="help-block">Please check your mobile number, do not include 0 before your number.</p>
								</div>
							</div>
							<h1></h1>
							<!-- EMAIL -->
							<div class="form-group" data-ng-class="{ 'has-error' : gymForm.email.$invalid && !gymForm.email.$pristine }">
								<label class="col-lg-2 col-sm-3 control-label">Email<sup>*</sup></label>
								<div class="col-lg-10 col-sm-9">
									<input type="email" name="email" class="form-control" data-ng-maxlength="50" data-ng-model="gym.continfo.email" id="inputEmail" placeholder="Email" required>
									<p data-ng-show="gymForm.email.$touched && gymForm.email.$invalid && !gymForm.email.$pristine" class="help-block">Enter a valid email.</p>
								</div>
							</div>
							<h2>Gym/ Fitness Center Details</h2>
							<!-- Gym Name -->
							<div class="form-group" data-ng-class="{ 'has-error' : gymForm.gymName.$invalid && !gymForm.gymName.$pristine }">
								<label class="col-lg-2 col-sm-3 control-label">Gym Name<sup>*</sup></label>
								<div class="col-lg-10 col-sm-9">
									<input type="text" name="gymName" class="form-control" data-ng-minlength="2" data-ng-maxlength="200" id="inputGymName" data-ng-model="gym.detail.name" placeholder="Gym Name" required>
									<p data-ng-show="gymForm.gymName.$touched && gymForm.gymName.$invalid && !gymForm.gymName.$pristine" class="help-block">Gym name is required.</p>
								</div>
							</div>
							<div class="form-group">
								<label class="col-lg-2 col-sm-3 control-label">Gym Description</label>
								<div class="col-lg-10 col-sm-9">
									<textarea class="form-control" rows="3" id="inputGymDesc" data-ng-model="gym.detail.desc" placeholder="A brief information about your Gym"></textarea>
									<span id="inputGymDescInfo"></span>
								</div>
							</div>
							<!-- ADDRESS -->
							<div class="form-group">
								<label class="col-lg-2 col-sm-3 control-label">Address<sup>*</sup></label>
								<div class="col-lg-10 col-sm-9">
									<!-- Street 1-->
									<input type="text" name="addr1" class="form-control" id="inputStreet1" data-ng-model="gym.detail.addr[0]" placeholder="Street No. 1" required="required">
									<p data-ng-show="gymForm.addr1.$touched && gymForm.addr1.$invalid && !gymForm.addr1.$pristine" class="help-block">Please fill the above detail</p>
									<!-- Street 2-->
									<input type="text" class="form-control" id="inputStreet2" data-ng-model="gym.detail.addr[1]" placeholder="Street No. 2">
									<span id="streetInfo"></span>
									<!-- CITY-->
									<!-- data-ng-init="gym.detail.addr[2] = "gurgaon" -->
									<span id="cityInfo">Select city name below</span>
									<select class="form-control" name="addr2" data-ng-init="gym.detail.addr[2]	='gurgaon'" class="form-control" id="inputCity" data-ng-model="gym.detail.addr[2]" placeholder="City" required="required">
										<option value="gurgaon"> Gurgaon</option>
										<option value="delhi">Delhi</option>
										<option value="noida">Nodia</option>
										<option value="greaterNoida">Greater Noida</option>
									</select>

									<!-- PINCODE-->
									<h1></h1>
									<input type="number" name="addr3" class="form-control" id="inputPincode" data-ng-model="gym.detail.addr[3]" data-ng-minlength="6" data-ng-maxlength="6" placeholder="Pincode" required="required">
									<p data-ng-show="gymForm.addr3.$touched && gymForm.addr3.$invalid && !gymForm.addr3.$pristine" class="help-block">Please enter valid pincode</p>
								</div>
							</div>
							here = gymForm.$valid{{gymForm.$valid}}
							<div class="form-group">
								<label class="col-lg-2 col-sm-3 col-xs-12 control-label">Timing</label>
								<div class="table-responsive">
									<table class="table">
										<thead>
											<tr>
												<th>Days</th>
												<th>Open Timing(AM)</th>
												<th>Close Timing(PM)</th>
											</tr>
										</thead>
										<tbody>
											<tr>
												<td>
													<label>
														<input type="checkbox" name="Sunday" id="days" value="Sunday" data-ng-model="gym.detail.timing[0][0]" data-ng-init="gym.detail.timing[0][0]=false" /> Sunday </label>
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control" data-ng-model="gym.detail.timing[0][1]" name="openTime" data-ng-init="gym.detail.timing[0][1]=6" />
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control " data-ng-model="gym.detail.timing[0][2]" name="closeTime" data-ng-init="gym.detail.timing[0][2]=9" />
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="checkbox" name="Monday" id="days" value="Monday" data-ng-model="gym.detail.timing[1][0]" data-ng-init="gym.detail.timing[1][0]=false" /> Monday </label>
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control" data-ng-model="gym.detail.timing[1][1]" name="openTime" data-ng-init="gym.detail.timing[1][1]=6" />
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control " data-ng-model="gym.detail.timing[1][2]" name="closeTime" data-ng-init="gym.detail.timing[1][2]=9" />
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="checkbox" name="Tuesday" id="days" value="Tuesday" data-ng-model="gym.detail.timing[2][0]" data-ng-init="gym.detail.timing[2][0]=false" /> Tuesday </label>
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control" data-ng-model="gym.detail.timing[2][1]" name="openTime" data-ng-init="gym.detail.timing[2][1]=6" />
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control " data-ng-model="gym.detail.timing[2][2]" name="closeTime" data-ng-init="gym.detail.timing[2][2]=6" />
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="checkbox" name="Wednesday" id="days" value="Wednesday" data-ng-model="gym.detail.timing[3][0]" data-ng-init="gym.detail.timing[3][0]=false" /> Wednesday </label>
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control" data-ng-model="gym.detail.timing[3][1]" name="openTime" data-ng-init="gym.detail.timing[3][1]=6" />
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control " data-ng-model="gym.detail.timing[3][2]" name="closeTime" data-ng-init="gym.detail.timing[3][2]=9" />
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="checkbox" name="Thrusday" id="days" value="Thrusday" data-ng-model="gym.detail.timing[4][0]" data-ng-init="gym.detail.timing[4][0]=false" /> Thrusday </label>
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control" data-ng-model="gym.detail.timing[4][1]" name="openTime" data-ng-init="gym.detail.timing[4][1]=6" />
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control " data-ng-model="gym.detail.timing[4][2]" name="closeTime" data-ng-init="gym.detail.timing[4][2]=9" />
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="checkbox" name="Friday" id="days" value="Friday" data-ng-model="gym.detail.timing[5][0]" / data-ng-init="gym.detail.timing[5][0]=false"> Friday </label>
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control" data-ng-model="gym.detail.timing[5][1]" name="openTime" data-ng-init="gym.detail.timing[5][1]=6" />
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control " data-ng-model="gym.detail.timing[5][2]" name="closeTime" data-ng-init="gym.detail.timing[5][2]=9" />
												</td>
											</tr>
											<tr>
												<td>
													<label>
														<input type="checkbox" name="Saturday" id="days" value="Saturday" data-ng-model="gym.detail.timing[6][0]" data-ng-init="gym.detail.timing[6][0]=false" /> Saturday </label>
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control" data-ng-model="gym.detail.timing[6][1]" name="openTime" data-ng-init="gym.detail.timing[6][1]=6" />
												</td>
												<td>
													<input type="number" min="1" max="12" class="form-control " data-ng-model="gym.detail.timing[6][2]" name="closeTime" data-ng-init="gym.detail.timing[6][2]=9" />
												</td>
											</tr>
										</tbody>
									</table>
								</div>

								<span id="daysInfo" class="col-xs-12 col-xs-offset-0 col-lg-offset-2 col-sm-9 col-sm-offset-3 col-lg-10 checkbox-error error-box"></span> </div>


							<div class="form-group">
								<label class="col-lg-2 col-sm-3 col-xs-12 control-label">Activities</label>
								<div class="col-lg-2 col-xs-6 col-sm-3 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Aerobics" id="activities" value="Aerobics" data-ng-model="gym.detail.actvy[0]" /> Aerobics </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Crossfit" id="activities" value="Crossfit" data-ng-model="gym.detail.actvy[1]" /> Crossfit </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Jacuzzi" id="activities" value="Jacuzzi" data-ng-model="gym.detail.actvy[2]" /> Jacuzzi </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Pilates" id="activities" value="Pilates" data-ng-model="gym.detail.actvy[3]" /> Pilates </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Sauna" id="activities" value="Sauna" data-ng-model="gym.detail.actvy[4]" /> Sauna </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Swimmin Pool" id="activities" value="Swimmin Pool" data-ng-model="gym.detail.actvy[5]" /> Swimmin Pool </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Yoga" id="activities" value="Yoga" data-ng-model="gym.detail.actvy[6]" /> Yoga </label>
									</div>
								</div>
								<div class="col-lg-2 col-xs-6 col-sm-3 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Belly Dancing" id="activities" value="Belly Dancing" data-ng-model="gym.detail.actvy[7]" /> Belly Dancing </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Dance" id="activities" value="Dance" data-ng-model="gym.detail.actvy[8]" /> Dance </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Kettlebell" id="activities" value="Kettlebell" data-ng-model="gym.detail.actvy[9]" /> Kettlebell </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Punch Bags" id="activities" value="Punch Bags" data-ng-model="gym.detail.actvy[10]" /> Punch Bags </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Spa" id="activities" value="Spa" data-ng-model="gym.detail.actvy[11]" /> Spa </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Tai Chi" id="activities" value="Tai Chi" data-ng-model="gym.detail.actvy[12]" /> Tai Chi </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Zumba" id="activities" value="Zumba" data-ng-model="gym.detail.actvy[13]" /> Zumba </label>
									</div>
								</div>
								<div class="col-lg-2 col-xs-6 col-sm-3 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Boxing Ring" id="activities" value="Boxing Ring" data-ng-model="gym.detail.actvy[14]" /> Boxing Ring </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Free Weights" id="activities" value="Free Weights" data-ng-model="gym.detail.actvy[15]" /> Free Weights </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Olympic Weights" id="activities" value="Olympic Weights" data-ng-model="gym.detail.actvy[16]" /> Olympic Weights </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Resistance Machines" id="activities" value="Resistance Machines" data-ng-model="gym.detail.actvy[17]" /> Resistance Machines </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Spinning/Cycling" id="activities" value="Spinning/Cycling" data-ng-model="gym.detail.actvy[18]" /> Spinning/Cycling </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="TRX" value="TRX" id="activities" data-ng-model="gym.detail.actvy[19]" /> TRX </label>
									</div>
								</div>
								<div class="col-lg-2 col-xs-6 col-sm-12 col-sm-offset-3 col-lg-offset-0 date-field" data-ng-model="gym.detail.actvy[20]">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Cardio Machines" id="activities" value="Cardio Machines" data-ng-model="gym.detail.actvy[21]" /> Cardio Machines </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Group Exercise" id="activities" value="Group Exercise" data-ng-model="gym.detail.actvy[22]" /> Group Exercise </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Personal Training" id="activities" value="Personal Training" data-ng-model="gym.detail.actvy[23]" /> Personal Training </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Rowing" value="Rowing" id="activities" data-ng-model="gym.detail.actvy[24]" /> Rowing </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Steam Rooms" value="Steam Rooms" id="activities" data-ng-model="gym.detail.actvy[25]" /> Steam Rooms </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Weight Training" value="Weight Training" id="activities" data-ng-model="gym.detail.actvy[26]" /> Weight Training </label>
									</div>
								</div>
								<span id="activitiesInfo" class="col-xs-12 col-xs-offset-0 col-lg-offset-2 col-sm-9 col-sm-offset-3 col-lg-10 checkbox-error error-box"></span> </div>
							<div class="form-group">
								<label class="col-lg-2 col-sm-3 col-xs-12 control-label">Facilities</label>

								<div class="col-xs-6 col-lg-2 col-sm-3 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Air Conditioning" id="facilities" value="Air Conditioning" data-ng-model="gym.detail.facilty[0]" /> Air Conditioning </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Showers" id="facilities" value="Showers" data-ng-model="gym.detail.facilty[1]" /> Showers </label>
									</div>
								</div>
								<div class="col-xs-6 col-lg-2 col-sm-3 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Cafe" id="facilities" value="Cafe" data-ng-model="gym.detail.facilty[2]" /> Cafe </label>
									</div>
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Wi-Fi" id="facilities" value="Wi-Fi" data-ng-model="gym.detail.facilty[3]" /> Wi-Fi </label>
									</div>
								</div>
								<div class="col-xs-6 col-lg-2 col-sm-3 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Lockers" id="facilities" value="Lockers" data-ng-model="gym.detail.facilty[4]" /> Lockers </label>
									</div>
								</div>
								<div class="col-lg-2 col-xs-6 col-sm-12 col-sm-3 col-lg-offset-0 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Parking" id="facilities" value="Parking" data-ng-model="gym.detail.facilty[5]" /> Parking </label>
									</div>
								</div>
								<span id="facilitiesInfo" class="col-xs-12 col-xs-offset-0 col-lg-offset-2 col-sm-9 col-sm-offset-3 col-lg-10 checkbox-error error-box"></span> </div>
							<div class="form-group">
								<label class="col-lg-2  col-sm-3 col-xs-12 control-label">How Did You Find Us?</label>
								<div class="col-lg-2 col-sm-2 col-xs-6 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Option 1" value="Option 1" data-ng-model="gym.detail.contus[0]" /> You Contacted Me!</label>
									</div>
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-6 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Option 2" value="Option 2" data-ng-model="gym.detail.contus[1]" /> Search Engine </label>
									</div>
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-6 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Option 3" value="Option 3" data-ng-model="gym.detail.contus[2]" /> Social Network </label>
									</div>
								</div>
								<div class="col-lg-2 col-sm-2 col-xs-6 date-field">
									<div class="checkbox">
										<label>
											<input type="checkbox" name="Option 4" value="Option 4" data-ng-model="gym.detail.contus[3]" /> Other </label>
									</div>
								</div>
							</div>
							<div class="form-group">
								<div class="col-lg-10 col-sm-9 col-xs-12 col-sm-offset-3  col-xs-offset-0 col-lg-offset-2 control-label contactform">
									<button type="submit" id="submit" class="btn btn-danger btn-md" data-ng-disabled="!(gymForm.$valid)" name="signup" value="Sign up">Submit</button>
								</div>
							</div>
						</form>
					</div>
					<!--end for-partners-->
				</div>
			</div>
		</section>
		<footer class="clearfix">
			<div class="container clearfix">
				<div class="social-navigation"><a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> </div>
				<div class="copyright">Copyright &copy; 2015 FitnessKey </div>
				<div class="full-wrap">
					<ul class="footer-nav">
						<!-- <li><a href="#">About</a></li> -->
						<li><a href="onboarding.html">For Partners</a></li>
						<li><a href="FAQ.html">FAQ</a></li>
						<!-- <li><a href="#">Contact</a></li> -->
						<!-- <li><a href="#">Blog</a></li> -->
						<li><a href="terms-of-use.html">Terms of Use</a></li>
						<li><a href="privacy-policy.html">Privacy Policy</a></li>
					</ul>
				</div>
			</div>
		</footer>
	</div>

	<!-- Login And Signup -->
	<div class="popup-overlay"></div>
	<div class="close-popup">✕</div>
	<div class="popups-main-wrapper">
		<div class="popup-ins-wrapper">
			<ul class="popup-nav-list">
				<li><a href="#" class="logIn-btn">Log in</a></li>
				<li><a href="#" class="signUp-btn">Sign up</a></li>
			</ul>
			<div class="login-popup popup-content-wrapper">
				<a href="#" class="login-with-social"><img src="images/facebook-login.png" /></a>
				<a href="#" class="login-with-social"><img src="images/gplus_btn.png" /></a>
				<div class="popup-or">or</div>
				<div class="inp-box">
					<input type="text" name="" value="" placeholder="Email" />
				</div>
				<div class="inp-box">
					<input type="password" name="" value="" placeholder="Password" />
				</div>
				<button type="submit" class="popup-login-btn">Log In</button>
				<div class="poppup-center-text"><a href="#">Forgot my password?</a></div>
			</div>
			<div class="signup-popup popup-content-wrapper">
				<a href="#" class="login-with-social"><img src="images/facebook-login.png" /></a>
				<a href="#" class="login-with-social"><img src="images/gplus_btn.png" /></a>
				<div class="popup-or">or</div>
				<div class="inp-box">
					<input type="text" name="" value="" placeholder="Full Name" />
				</div>
				<div class="inp-box">
					<input type="text" name="" value="" placeholder="Email" />
				</div>
				<div class="inp-box">
					<input type="password" name="" value="" placeholder="Password" />
				</div>
				<button type="submit" class="popup-login-btn">Sign Up</button>
				<div class="poppup-center-text">By creating an account, I accept FitnessKey's <a href="#">Terms of Service</a>.</a>.</div>
			</div>
		</div>
	</div>
	<!-- JS -->
	<!-- Dropdown module -->
	<script src="js/dropdown/nya-bs-public.js"></script>
	<script src="js/dropdown/service-config.js"></script>
	<script src="js/dropdown/nya-bs-select-ctrl.js"></script>
	<script src="js/dropdown/nya-bs-select.js"></script>
	<script src="js/dropdown/nya-bs-option.js"></script>

	<!-- Spinner File -->
	<script src="js/spin.min.js"></script>
	<script src="js/angular-spinner.js"></script>
	<!-- Angular Module -->
	<!-- Auto Complete -->
	<script src="http://cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.6/angular-touch.min.js"></script>
	<script src="js/angucomplete-alt.js"></script>

	<!-- Module -->
	<script src="js/fitness.js"></script>
	<!-- Service -->
	<script src="js/services/service1.js"></script>
	<!-- Controller -->
	<script src="js/controllers/ctrl.js"></script>

	<!-- JS -->
	<script src="js/jquery.min.js"></script>
	<script src="js/bootstrap.min.js"></script>
	<script src="js/custom.js"></script>
	<script src="js/owl.carousel.min.js"></script>
	<script src="js/bootstrap-hover-dropdown.min.js"></script>
	<script src="js/jquery.timepicker.js"></script>
	<script>
		$(document).ready(function () {
			$('.js-activated').dropdownHover().dropdown();
		});
	</script>

	<!-- JS ends -->
</body>

</html>