<!doctype html>
<html>
<head>
<meta charset="utf-8">
<meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no">
<link rel="shortcut icon" href="../images/favicon.ico" type="image/x-icon">
<title>FitnessKey</title>
<link href="../css/layout.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap.css" rel="stylesheet" type="text/css">
<link href="../css/owl.css" rel="stylesheet" type="text/css">
<link href="../css/bootstrap-select.min.css" rel="stylesheet" type="text/css">
<script type="text/javascript" src="../js/html5.js"></script>
<link href="../css/bootstrap.css" rel="stylesheet">
<link href="../css/style.css" rel="stylesheet">
<script src="../js/shared/angular.min.js"></script>
<script	src="https://cdnjs.cloudflare.com/ajax/libs/angular.js/1.5.0-beta.1/angular-resource.js"></script>
<!-- Angular Js File -->
<script src="https://code.angularjs.org/1.4.3/angular-resource.js"></script>
</head>

<body class="listing-bg" data-ng-app="fitness" data-ng-controller="gympasschgeCtrl" >
<ul class="mobile-navigation clearfix">
  <div class="vcenter-table">
    <div class="vcenter-table-cell">
      <li><a href="../home.html" class="branding menu-brand"><img src="../images/logo.png" /></a></li>
      <li><a href="gym_owner_home.html">Passes Sold</a></li>
      <li><a href="gym_owner_transaction.html">Transaction</a></li>
      <li><a href="gym_owner_password_change.html">Change Password</a></li>
      <li><a href="gym_owner_account_setting.html">Account Setting</a></li>
      <li><a href="#">Sign Out</a></li>
    </div>
  </div>
</ul>
<div class="wrapper clearfix"> 
  <!-- Header -->
  <header class="normal-header clearfix">
    <div class="container clearfix">
      <div class="toggle-nav"> <span class="fline"></span> <span class="lline"> </span> <span  class="act"></span> </div>
      <!-- Branding --> 
      <a href="#" class="branding"><img src="../images/logo.png" /></a> 
      <!-- Branding End --> 
      <!-- Up navigation -->
      <ul class="upnavigation clearfix">
        <li class="passes"><a href="#">Sign Out</a></li>
      </ul>
      <!-- Up navigation End  --> 
      <!-- Toggle --> 
      
    </div>
  </header>
  <!-- Header End  --> 
  <!-- Content -->
  
 <div class="container">
	<!-- Changes by saurabh -->
	<div class="row">
	<div class="col-md-2 navigator gym-owner-pannel">
	<div class="panel-group" id="panel-905280">
					<div class="panel panel-default">
						<div class="panel-heading" id="passes-sold-pannel">
							<a class="panel-title" href="gym_owner_home.html">Passes Sold</a>
						</div>

					</div>
				</div>
				<div class="panel-group" id="panel-905281">
					<div class="panel panel-default">
						<div class="panel-heading" id="passes-sold-pannel">
							<a class="panel-title" href="gym_owner_transaction.html">Transaction
						    </a>
						</div>

					</div>
				</div>
				<div class="panel-group" id="panel-905282">
					<div class="panel panel-default">
						<div class="panel-heading" id="passes-sold-pannel">
							<a class="panel-title" href="gym_owner_password_change.html">Change Password 
						    </a>
						</div>

					</div>
				</div>
				<div class="panel-group" id="panel-905283">
					<div class="panel panel-default">
						<div class="panel-heading" id="passes-sold-pannel">
							<a class="panel-title" href="gym_owner_account_setting.html">Account Setting 
						    </a>
						</div>

					</div>
				</div>
	</div>
      <div class="products-listing-wrap clearfix col-md-10">
		<div>
        <ul id="ajax" class="products-list clearfix">
        <li class="scroll">
            <div class="full-wrap">
              <div class="row password-change">
                <div class="col-lg-12 col-sm-12 col-xs-12">
                  <div class="person-name"><b>Password Change</b></div>
                </div>
              </div>
              <hr>        
              <div class="container-fluid">
	<div class="row">
		<div class="col-md-12">
			<div class="row">
				<div class="col-md-6">
					<form class="form-horizontal" autocomplete="off" name="userForm" data-ng-submit="passwrdUpdt()" novalidate>
					here {{user.passwrdData.oldPass}}
					<!-- CURRENT PASSWORD -->
					<div class="form-group" >							 
							<label for="inputPassword1" class="col-sm-4 control-label">
								Current Password
							</label>
							<div class="col-sm-8">
								<input type="password" name="oldPassword" data-ng-model="user.passwrdData.oldPass" class="form-control" id="inputPassword1" required/>
								
							</div>
						</div>
						<h1></h1>
					<!-- NEW PASSWORD -->
						<div class="form-group" data-ng-class="{ 'has-error' : userForm.password.$invalid && !userForm.password.$pristine }">							 
							<label for="inputPassword2" class="col-sm-4 control-label">New Password</label>
							<div class="col-sm-8">
								<input type="password" name="password" data-ng-pattern = "/^(?=.*[\d])(?=.*[A-Z])[\w\d!@#$%_]{6,40}$/" class="form-control" data-ng-model="user.passwrdData.newPass" id="inputPassword2" required/>
							<p data-ng-show="userForm.password.$touched && userForm.password.$invalid && !userForm.password.$pristine" class="help-block">Password must be 6-40 characters ,at least 1 digit , at least 1 uppercase letter without spaces.</p>
							</div>
						</div>
						<h1></h1>
					<!-- CONFIRM PASSWORD -->
						 <div class="form-group" data-ng-class="{ 'has-error' : (user.passwrdData.newPass!=user.passwrdData.confrmpassword) && !userForm.confrmpassword.$pristine }">
							 <label class="col-sm-4 control-label">Confirm Password</label>
							    <div class="col-sm-8">
							       <input type="password" id="inputPassword3" name="confrmpassword" class="form-control" data-ng-model="user.passwrdData.confrmpassword" required>
							        <p data-ng-show="userForm.confrmpassword.$touched && (user.passwrdData.newPass!=user.passwrdData.confrmpassword)" class="help-block">The passwords entered do not match.</p>
								</div>
						 </div>	
						 <h1></h1>
					<!-- SUBMIT BUTTON -->
						<div class="form-group">
							<div class="col-sm-offset-4 col-sm-3">
							<button type="submit" id="submit" data-ng-disabled="!(userForm.password.$valid&&(user.passwrdData.newPass==user.passwrdData.confrmpassword))" class="btn btn-danger btn-md">Submit</button>
							</div>
						</div>
					</form>
				</div>
			</div>
		</div>
	</div>
</div>
            </div>
          </li>
        </ul>
        
		</div>
      </div>
      </div>
	  <div class="push"></div>
    </div>
  </div>
  <footer class="clearfix">
    <div class="container clearfix">
      <div class="social-navigation"><a href="#"><i class="fa fa-twitter"></i></a> <a href="#"><i class="fa fa-facebook"></i></a> <a href="#"><i class="fa fa-google-plus"></i></a> </div>
      <div class="copyright">Copyright &copy; 2015 FitnessKey </div>
      <div class="full-wrap">
        <ul class="footer-nav">
          <!-- <li><a href="#">About</a></li> -->
          <li><a href="../onboarding.html">For Partners</a></li>
          <li><a href="../FAQ.html">FAQ</a></li>
          <!-- <li><a href="#">Contact</a></li> -->
          <!-- <li><a href="#">Blog</a></li> -->
          <li><a href="../terms-of-use.html">Terms of Use</a></li>
          <li><a href="privacy-policy.html">Privacy Policy</a></li>
        </ul>
      </div>
    </div>
  </footer>

  <!-- Module -->
<script src="js/fitness.js"></script>
<!-- Service -->
<script src="js/services/service2.js"></script>
<!-- Controller -->
<script src="js/controllers/gymportalctrl.js"></script>
<script src="../js/jquery.min.js"></script> 
<script src="../js/bootstrap.min.js"></script> 
<script src="../js/custom.js"></script> 
<script src="../js/bootstrap-hover-dropdown.min.js"></script> 
<script src="../js/bootstrap-select.min.js"></script>  
<!-- JS ends -->
</body>
</html>
